
* {
margin: 0;
box-sizing: border-box;
}

.header {
    color: white;
    padding: 20px 20px;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: #89DEEF;
    background-color: #004175;
}

.title {
    padding: 15px 20px; 
}

p {
    font-size: large;
    padding: 5px 20px;
}

.adoptable-pups {
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
}

h4 {
    font-size: larger;
}

ul {
    margin: 10px 0px;
    list-style-type: none;
    padding-inline-start: 0px;
}
.puppy-card {
    width: 400px;
    border: 2px;
    margin: 10px 1px;
}

.puppy-card li {
    display: inline-block;
    border-radius: 8px;
    padding: 1px 3px;
    margin: 2px;
    background-color: #89DEEF;
}

.puppy-card img { 
    width: 90%;
}

.pup7 img {
    width: 85%;
}

.footer-card {
    width: 400px;
    height: 100px;
    border: 2px;
    margin: 10px 1px;
    flex: 1 1 auto;
    background: #A6A9F0; 
    
}

.donate {
    background-image:
        linear-gradient(rgba(166, 169, 240, .8), rgba(166, 169, 240, .8)),
        url("starter_files/images/donate.jpg");
        width: 20%;
}

.footer-card volunteer

.footer-card p {
    font: larger bolder;
    color: white;
    text-align: center;
    line-height: 100px;
    height: 100px;
    padding: 0px;
    border: 0px;
    margin: 10px 0px;
}

.footer {
    padding: 0px 20px;
    display: flex;
    justify-items: center;
}